<%- include('../partials/header') %>

  <!---ADD MAP HERE-->

  <div class="container-fluid p-5 my-0 bg-dark text-white">
      <h1><%= title %></h1>
      <ul class="list-group">
        <% venues.forEach((v) => { %>
          <li class="list-group-item">
            <%= v.venueName %><br>
            <%= v.myFavCategory %><br>
            <%= averageStarRanking %><br>
            <a href="/venues/<%= v._id %>" class="btn btn-primary">Details</a>
          </li>
        <% }); %>
      </ul>
      <br>
      <a href="/venues/new" class="btn btn-primary">Add a MyFav</a>
  </div>

  
<%- include('../partials/footer') %>