<%- include('../partials/header') %>

<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Explore</span>
      <span class="site-heading-lower"><%= title %></span>
  </h1>
</header>

  <!---ADD MAP HERE-->
  <div class="container-fluid p-5 my-0 bg-dark text-white">
    <ul class="list-group">
      <% if (name_Cat_RankingByVenue.length > 0) { %>
        <% for (i = 0; i < name_Cat_RankingByVenue.length; i++) {%>
        <!---HAVE A NORMAL FOR LOOP SO YOU CAN LOOP THROUGH BOTH arrays-->
          <li class="list-group-item">
            <%= name_Cat_RankingByVenue[i].venueName %><br>
            <%= name_Cat_RankingByVenue[i].myFavCat %><br>
            <%= name_Cat_RankingByVenue[i].stars %><br>
            <a href="/venues/<%= name_Cat_RankingByVenue[i].venueId %>" class="btn btn-primary">Details</a>
          </li>
        <% }; %>
        <br>
        <div class="container">
        <a href="/venues/new" class="btn btn-primary">Add another myFav</a>
      <% } else { %>
        <p>Try add a fav</p>
        <a href="/venues/new" class="btn btn-primary">Add a myFav</a>
        </div>
      <% }; %>
    </ul>
    <br>
</div>
  
<%- include('../partials/footer') %>