<%- include('../partials/header') %>

  <!---ADD MAP HERE-->
  <div class="container-fluid p-5 my-0 bg-dark text-white">
    <h1><%= title %></h1>
    <ul class="list-group">
      <% if (allVenues.length > 0) { %>
        <% for (i = 0; i < allRatings.length; i++) {%>
        <!---HAVE A NORMAL FOR LOOP SO YOU CAN LOOP THROUGH BOTH arrays-->
          <li class="list-group-item">
            <%= allVenues[i].venueName %><br>
            <%= allVenues[i].myFavCategory %><br>
            <%= allRatings[i].starRanking %><br>
            <a href="/venues/<%= allVenues[i]._id %>" class="btn btn-primary">Details</a>
          </li>
        <% }; %>
      <% } else { %>
        <p>Try add a fav</p>
      <% }; %>
    </ul>
    <br>
</div>
  
<%- include('../partials/footer') %>