<%- include('../partials/header') %>

<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">See</span>
      <span class="site-heading-lower"><%= title %></span>
  </h1>
</header>
  
<div class="container-fluid p-5 my-0 bg-dark text-black">
    <section class="page-section about-heading">
        <div class="container col-xl-9 mx-auto bg-faded rounded p-5 about-heading-content">
            <div class="">

            <!-- user related venue content-->
            <table class="table">
                <tbody class="bg-white">
                <tr>
                    <td>Venue name:</td>
                    <td><%= venue.venueName %></td>
                </tr>
                <tr>
                    <td>myFav Category:</td>
                    <td><%= venue.myFavCategory %></td>
                </tr>
                <tr>
                    <td>myFav Rating:</td>
                    <td><%= stars %></td>
                </tr>
                <tr>
                    <td>myFav Top tip:</td>
                    <td><%= userRatingbyVenue.topTip %></td>
                </tr>
                </tbody>
            </table>

            <!-- rnd Community top tip -->
            <% if (generatedRating) { %>
                <table class="table">
                <tbody class="bg-white">
                    <tr>
                        <td><strong>Insider top tip - hear from the crowd</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <% if (rndUserAvatar) { %>  
                            <td>
                            <img src="<%= rndUserAvatar %>" alt="User profile pic of the insider's tip">
                            </td>
                            <td><%= rndTopTip %></td>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <% } %>
                    </tr>
                </tbody>
                </table>
            <% } %> 

            <!-- EDIT YOR LISTING -->
                <table class="table">
                <tbody class="bg-white">
                    <tr>
                        <td><strong>Edit your listing</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Update your stars</td>
                            <td>
                                <form action="/ratings/<%= venue._id %>?_method=PUT" method="POST">
                                    <div class="ratings">
                                        <input type="radio" id="star5" name="ranking" value="5" required>
                                        <label for="star5" title="5 stars">&#9733;&#9733;&#9733;&#9733;&#9733;</label><br>
                                        <input type="radio" id="star4" name="ranking" value="4" required>
                                        <label for="star4" title="4 stars">&#9733;&#9733;&#9733;&#9733;</label><br>
                                        <input type="radio" id="star3" name="ranking" value="3" required>
                                        <label for="star3" title="3 stars">&#9733;&#9733;&#9733;</label><br>
                                        <input type="radio" id="star2" name="ranking" value="2" required>
                                        <label for="star2" title="2 stars">&#9733;&#9733;</label><br>
                                        <input type="radio" id="star1" name="ranking" value="1" required>
                                        <label for="star1" title="1 star">&#9733;</label><br>
                                    <button type="submit" class="btn btn-primary">&times</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Update your comment</td>
                            <td>
                                        <div class="col-sm bg-white p-3">
                        <form action="/ratings/<%= venue._id %>?_method=PUT" method="POST">
                            <input type="text" name="topTip">
                            <button type="submit" class="btn btn-primary">&times;</button>
                        </form>
                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- buttons -->
                <div class="container bg-white">
                <br>
                <form action="/ratings/<%= venue._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary">DELETE venue</button>
                </form>
                <br>
                <a href="/venues/myFavs" class="btn btn-primary">Back to myFav map</a>
                <br><br>
                <a href="/venues/new" class="btn btn-primary">Add another myFav</a>
                <br><br>
                </div>
            <!-- Google map info -->
            </div>
        </div>
  </section>
 </div>

<%- include('../partials/footer') %>