<%- include('../partials/header') %>
<!-- user related venue content-->
<div class="container">
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">Venue name:</div>
        <div class="col-sm bg-dark text-white p-3"><%= venue.venueName %></div>
    </div> 
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">myFav Category:</div>
        <div class="col-sm bg-dark text-white p-3"><%= venue.myFavCategory %></div>
    </div>
<!-- try to hid button when not editing for ratings -->
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">myFav Rating:</div>
        <div class="col-sm bg-dark text-white p-3">
            <%= stars %>
        </div>
        <div class="col-sm bg-dark text-white p-3">
            <form action="/ratings/<%= venue._id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-primary" name="ranking">&times</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">myFav Top tip:</div>
        <div class="col-sm bg-dark text-white p-3">
            <%= userRatingbyVenue.topTip %>
        </div>
        <div class="col-sm bg-dark text-white p-3">
            <form action="/ratings/<%= venue._id %>?_method=PUT" method="POST">
                <button type="submit" class="btn btn-primary" name="topTip">&times</button>
            </form>
        </div>
    </div>
</div>   

<!-- will need to hid this when not editing -->


<!-- Google map info -->
<div class="container">

</div>

<!-- rnd Community top tip -->
<% if (generatedRating) { %>
    <div class="container">
        <div class="row">
            <div class="col-sm bg-dark text-white p-3">Insider top tip <br>
                <div class="col-sm bg-dark text-white p-3">
                    <img src="<%= rndUserAvatar %>" alt="User profile pic of the insider's tip">
                </div>
                <%= rndTopTip %>
            </div>
        </div>
    </div>
<% } %> 

<!-- buttons -->
<div class="container">
    
    <!-- <form action="/venues/<%= venue._id %>?_method=DELETE" method="POST">
        <button type="submit">Edit venue</button>
    </form> -->

    <br>
    <form action="/ratings/<%= venue._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary">DELETE venue</button>
    </form>

    <br>
    <a href="/venues/myFavs" class="btn btn-primary">Back to myFav map</a>
    <br><br>
    <a href="/venues/new" class="btn btn-primary">Add another myFav</a>
</div>  

<%- include('../partials/footer') %>